@model KnowledgeGraph.Web.Features.KnowledgeContent.ViewModels.IndexKnowledgeContentViewModel
@inject IViewLocalizer Localizer
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = Localizer["Content list"];
}
    <div class="d-flex justify-content-between align-items-start">
        @if (Model.Source != null)
        {
        <div class="page-header">@Localizer["Content list for Source"]: <i>@Model.Source.Name</i></div>
        }
        else
        {
            <div class="page-header">@ViewData["Title"]</div>
        }

        <a asp-action="Create" class="btn btn-outline-primary">@SharedLocalizer["Create"]</a>
    </div>

<hr />
<partial name="_MessageAlert" />

@if (Model.KnowledgeContentViewModels.Count() != 0)
{
    foreach (var knowledgeContent in Model.KnowledgeContentViewModels)
    {
        <partial name="_KnowledgeContentDisplayer" model="knowledgeContent" />
    }
}
else
{
    <div>
        <span class="text-secondary">@Localizer["No Content to manage so far."]</span>
    </div>
}
