@model IEnumerable<KnowledgeGraph.Web.Features.KnowledgeCategory.ViewModels.KnowledgeConceptForDetailsKnowledgeCategoryViewModel>
@inject IStringLocalizer<SharedResources> SharedLocalizer
@inject IViewLocalizer Localizer

@if (Model.HasAnyItems())
{
    <div class="mt-5 text-muted">
        @Localizer["Concept list in this Category"]:
    </div>
    <table class="table table-hover table-light">
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <span class="h5">@Html.DisplayFor(modelItem => item.Name)</span>
                    </td>
                    <td>
                        @Html.ActionLink(@SharedLocalizer["Details"], "Details", "KnowledgeConcept", new { id = item.Id }, new { @class = "btn btn-sm btn-outline-primary" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="mt-5  text-muted">
        @Localizer["No concepts in this category."]
    </div>
}